@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
 
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px; 
  line-height: 30px;
  color: #000000;
  background-color: #E5E5E5;    
}

.container {
  width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.container-for-content {
  width: 1160px;
  margin: 0 140px;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
}

.main-header {
  margin-top: 40px;
}

.navigation {
  background-color: #FFE17F;
  position: relative;
}

.navigation-main {
  margin-bottom: 0;
}

.navigation-main::after {
  position: absolute;
  content: "01";
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  right: 49px;
  bottom: 40px;
}

.main-logo {
  position: absolute;
  left: 30px;
  top: -11.5px;
}

.navigation-link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

.navigation-link-exit {
  opacity: 0.3;
}

.navigation-user {
  margin: 0;
  font-weight: 400;
}

.information-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
}

.search-form {
  position: relative;
  display: flex;
  width: 517px;
  padding-left: 60px;
  margin-right: 53px;
}

.search-form-catalog {
  margin-right: 53.5px;
}

.search-field::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.search-field {
  display: block;
  width: 359px;
  outline: none;
  padding: 8px 50px 8px 44px;
  border: 2px solid #000000;
  background-color: #FFE17F;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;  
}

.search-image {
  position: absolute;
  top: 14px;
  left: 78px;
  z-index: 1;
}

.button-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  width: 160px;
  padding: 10px 56px 10px 54px;
  background-color: #FFE17F;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
}

.navigation-first {
  display: flex;
  margin: 0;
  padding-top: 41px;
  margin-bottom: 40px;
}

.navigation-list {
  display: flex;
  width: 470px;
  align-items: center;
  margin: 0 auto;
  padding: 0 60px 0 0;
}

.navigation-item:first-child {
  margin-right: 198px;
}

.navigation-item:first-child,
.navigation-catalog:first-child {
  position: relative;
}

.navigation-image {
  position: absolute;
  top: 9px;
  bottom: 9px;
  left: -27px;
}

.navigation-item:nth-child(2) {
  margin-right: 61px;
}

.navigation-item:nth-child(2),
.navigation-catalog:nth-child(3) {
  position: relative;
}

.navigation-image-compare {
  position: absolute;
  top: 9px;
  bottom: 9px;
  left: -22px;
}

.navigation-item:nth-child(3) {
  position: relative;
}

.navigation-catalog:nth-child(4) {
  position: relative;
}

.navigation-image-basket {
  position: absolute;
  top: 6px;
  bottom: 4.5px;
  left: -26px;
}

.navigation-item:nth-child(3)::before, 
.navigation-catalog:nth-child(4)::before {
  position: absolute;
  content: " ";
  width: 21px;
  height: 21px;
  top: 4.5px;
  right: 93px;
  border-radius: 50%;
  background-color: #FFFFFF;
  z-index: 1;
}

.navigation-item:nth-child(3)::after, 
.navigation-catalog:nth-child(4)::after {
  position: absolute;
  content: url("../images/icons/two.svg");
  top: -1px;
  right: 100px;
  z-index: 1;
}

.navigation-catalog:first-child {
  margin-right: 28px;
}

.navigation-catalog:nth-child(2) {
  margin-right: 48.5px;
}

.navigation-catalog:nth-child(3) {
  margin-right: 61px;
}

.navigation-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation-item:active {
  opacity: 0.3;
  cursor: pointer;
}

.navigation-item {
  position: relative;
}

.popover {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 4;
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  min-height: 100px;
}

.popover-content {
  display: flex;
  width: 280px;
  margin-bottom: 20px;
}

.cart-items-list {
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.cart-item + .cart-item {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-wrapper {
  display: flex;
}

.cart-image {
  margin-right: 23px;
}

.cart-item-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.cart-wrapper-total {
  display: flex;
  
  justify-content: space-between;
  
  margin-bottom: 20px;
}

.cart-total {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.cart-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  color: #000000;
  background-color: #FFFFFF;
  width: 280px;
  padding: 14.5px 25px;
  border: 0;
}
.navigation-second {
  display: flex;
  width: 1160px;
  margin: 0;
}

.information-list {
  position: relative;
  display: flex;
  width: 530px;
  padding: 0 0 145px 60px;
  margin: 0;
}

.information-group {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 45px;
  width: 471px;
  padding: 0 60px 145px 0;
  margin: 0 0 0 auto;
}

.information-list-catalog, 
.information-group-catalog {
  padding-bottom: 38px;
}

.information-link-image {
  position: absolute; 
  top: -11px;
  right: 241px;
  z-index: 3;
}

.information-link-catalog::before {
  position: absolute;
  content: url("../images/icons/plus.svg");
  width: 48px;
  height: 48px;
  top: 6px;
  left: 316px;
  opacity: 0.3;
  display: block;
}

.information-link-catalog::after {
  position: absolute;
  content: url("../images/icons/minus.svg");
  width: 48px;
  height: 48px;
  top: 6px;
  left: 316px;
  opacity: 0.3;
  display: none;
}

.catalog-item:focus-within .information-link-catalog::after {
  display: block;
}

.catalog-item:focus-within .information-link-catalog::before {
  display: none;
}

.subcatalog-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.subcatalog {
  display: flex;
  position: absolute;
  width: 1040px;
  background-color: #FFE17F;
  padding: 33px 60px 39px;
  top: 20px;
  left: 0;
  z-index: 2;
}

.information-item {
  z-index: 3;
}

.subcatalog-list {
  display: flex;
  flex-direction: column;
  margin-right: 59px;
}

.subcatalog-list:nth-child(2) {
  margin-right: 71px;
}

.subcatalog-link {
  margin-bottom: 18px;
}

.catalog-item:focus-within .subcatalog {
  display: flex;
}

.subcatalog {
  display: none;
}

.description-promo,
.info-title,
.aboutus,
.contacts-title,
.subscribe-offer {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.description-property,
.text-decoration {
  font-weight: 400;
  color: #444444;
}

.property-link,
.servises-item,
.button-information,
.button-writeus {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.2px;
  color: #000000;
}

/* ------gallery------ */

.meaning {
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 0 12px;
}

.detail {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}

.gallery-hidden {
  display: none;
}

.gallery-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}

.gallery {
  position: relative;
  width: 560px;
  margin-top: -150px;
  z-index: 1;
}

.slider-controls {
  position: absolute;
  top: 211px;
  left: 30px;
  display: flex;
  width: 530px;
  justify-content: space-between;
}

.slider-button {
 width: 20px;
 height: 60px;
 border: none;
 background-color: transparent;
 cursor: pointer;
 background-image: url("../images/icons/big-arrow.svg");
 background-position: center;
 background-repeat: no-repeat;
}

.slider-next {
  transform: rotate(180deg);
}

.description-item {
  width: 560px;
  margin-top: -150px;
  z-index: 1;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.description-promo {
  margin: 0;
  margin: 123px 0 29px 0;
}

.description-property {
  margin: 0 0 49px;
}

.property-more {
  display: flex;
  width: 220px;
  margin: 0;
  padding: 10px 0;
  justify-content: center;
}

.property-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin-bottom: 49px;
}

.property-link::after {
  position: absolute;
  content: " ";
  width: 220px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #FFE17F;
  z-index: -1;
}

.property-link:hover::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFE17F;
}

.property-link:active::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFCC33;
}

.property-link:focus {
  outline: none;
}

.property-more:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.pagination-for-property {
  display: flex;
  min-width: 76px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.property-pagination-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  padding: 0;
  cursor: pointer;
}

.property-pagination-button-current {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000000;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.property-current {
  display: grid;
  grid-template-columns: 140px 147px;
  column-gap: 20px;
  padding: 0 253px 0 0;
  margin: 0;
}

.property {
  margin: 0;
  padding: 0;
}

.property-last {
  display: grid;
  grid-template-columns: 100px 79px 126px;
  column-gap: 40px;
  padding: 0 175px 0 0;
  margin: 0;
}

/* ------goods------ */

.goods {
  margin-bottom: 185px;
}

.goods-link {
  text-decoration: none;
}

.goods-images {
  background-color: #FFE17F;
  display: block;
}

.goods-description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: -0.32px;
  margin: 33px 0 0;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  padding: 0;
  margin: 0;
}

.goods-link:hover .goods-images {
  background-color: #FFCC33;
}

.goods-item:active {
  opacity: 0.3;
}

.goods-link:focus {
  outline: none;
}

.goods-images:focus {
  outline: none;
}

.goods-item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.servises-item-calm {
  width: 160px;
  padding-right: 120px;
  position: relative;
  z-index: 1;
}

.servises-link {
  display: block;
  padding: 10px 3.64px;
  text-decoration: none;
  color: #000000;
}

.servises-link::after {
  position: absolute;
  content: " ";
  width: 160px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #FFE17F;
  z-index: -1;
}

.servises-current {
  color: #FFE17F;
  background-color: #000000;
  display: block;
  text-decoration: none;
  padding: 9px 120px 11px 0;
}

.servis-container {
  background-color: #F0F0F0;
}

.servis-hidden {
  display: none;
}

.servis-wrapper {
  display: flex;
  padding: 0 140px 70px;
  margin-bottom: 70px;
}

.servises {
  position: relative;
  width: 280px;
  margin-right: 123px;
  margin-top: -102px;
}

.servises::after {
  position: absolute;
  content: " ";
  width: 7px;
  height: 319px;
  background-color: #000000;
  right: -7px;
  top: 0;
}

.delivery {
  width: 694px;
  background-image: url("../images/icons/running-man.svg");
  background-repeat: no-repeat;
  background-position: left 558px center;
  padding: 72.5px 63px 72.5px 0;
  margin-top: -102px;
}

.info-delivery {
  font-weight: 400;
  color: #444444;
  width: 452px;
  margin: 0;
}

.guarantee {
  width: 729px;
  background-image: url("../images/icons/guarantee.svg");
  background-repeat: no-repeat;
  background-position: left 558px center;
  padding: 62px 28px 62px 0;
  margin-top: -102px;
}

.info-guarantee {
  font-weight: 400;
  color: #444444;
  width: 476px;
  margin: 0;
}

.credit {
  width: 729px;
  background-image: url("../images/icons/man-with-card.svg");
  background-repeat: no-repeat;
  background-position: left 573px center;
  padding: 65.5px 28px 65.5px 0;
  margin-top: -102px;
}

.info-credit {
  font-weight: 400;
  color: #444444;
  width: 475px;
  margin: 0;
}

.info-title {
  margin: 0 0 34px 0;
}

.servises-offer {
  margin: 0;
  padding: 64px 0 65px 0;
}

.servises-item {
  margin-bottom: 35px;
}

.servises-offer li:nth-child(3) {
  margin-bottom: 0;
}

.order-delivery {
  position: relative;
  margin-bottom: 70px;
}

.button-delivery {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.2px;
  color: #000000;
  background-color: #F0F0F0;
  display: block; 
  width: 910px;
  padding: 40px 125px;
}

.button-delivery::after {
  position: absolute;
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220,220,220,0.5);
  top: 30px;
  right: 42.5px;
}

.delivery-image-info {
  position: absolute;
  right: 62px;
  top: 44px;
  fill: #000000;
  opacity: 0.3;
}

.delivery-image {
  position: absolute;
  left: 0;
  top: 0;
  fill: #FFE17F;
}

.button-delivery:hover .delivery-image {
  fill: #FFC700;
}

 .button-delivery:active {
  opacity: 0.3;
}

.button-delivery:focus {
  outline: none;
}

.button-delivery:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.aboutus-information {
  display: flex;
  margin-top: 0;
  margin-bottom: 70px;
}

.about {
  position: relative;
  width: 520px;
  margin-right: 108px;
}

.about::before {
  position: absolute;
  content: " ";
  width: 84px;
  height: 7px;
  background-color: #000000;
  left: 0;
  top: 0;
}

.contacts {
  position: relative;
  width: 532px;
}

.contacts::before {
  position: absolute;
  content: " ";
  width: 84px;
  height: 7px;
  background-color: #000000;
  left: 0;
  top: 0;
}

.aboutus {
  padding-top: 47px;
  margin: 0 0 48px;
}

.aboutus-description {
  margin: 0;
  margin-bottom: 30px;
}

.delivery-list {
  position: relative;
  padding: 0;
  padding-left: 34px;
  margin: 0 0 30px;
}

.delivery-item {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
  margin-bottom: 19px;
}

.delivery-list li:nth-child(3) {
  margin-bottom: 0;
}

.delivery-item::before {
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  top: 6px;
  left: -34px;
  background-color: #FFC700;
  border-radius: 50%;
}

.contacts-title {
  padding-top: 47px;
  margin: 0 0 48px;
}

.contacts-description {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 34px;
}

.contacts-subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address-text,
.contacts-phone {
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin-bottom: 15px;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.button-information {
  position: relative;
  display: block;
  width: 257.73px;
  padding: 10px 6.14px;
  z-index: 1;
}

.button-information::after {
  position: absolute;
  content: " ";
  width: 270px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #FFE17F;
  z-index: -1;
}

.button-information:hover::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFE17F;
}

.button-information:active::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFCC33;
}

.button-information:focus {
  outline: none;
}

.button-information:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.button-writeus {
  position: relative;
  display: block;
  width: 247.23px;
  padding: 10px 5.89px;
  z-index: 1;
}

.button-writeus::after {
  position: absolute;
  content: " ";
  width: 259px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #FFE17F;
  z-index: -1;
}

.button-writeus:hover::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFE17F;
}

.button-writeus:active::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFCC33;
}

.button-writeus:focus {
  outline: none;
}

.button-writeus:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: -1px;
}

.subscribe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #F0F0F0;
}

.subscribe-offer {
  width: 348px;
  padding-top: 64px;
  padding-left: 147px;
  margin: 0;
  margin-right: 252px;
  margin-bottom: 144px;
}

.subscribe-description {
  width: 560px;
  margin: 0;
  margin-bottom: 144px;
  padding-top: 74px;
}

.subscribe-form {
  display: flex;
  width: 810px;
  padding-bottom: 56px;
  padding-left: 141px;
  margin-right: 188px;
}

.field::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  opacity: 0.5;
}

.field {
  display: block;
  width: 557px;
  padding: 11px 224px 11px 16px;
  border: 0;
  background-color: #F0F0F0;
  box-sizing: border-box;
  border-bottom: 3px solid #CECECE;
}

.newsletter-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  display: block;
  width: 253px;
  padding: 15px 39px;
  border: 3px solid #CECECE;
  cursor: pointer;
}

.subscribe-text {
  display: flex;
  width: 160px;
  margin: 0;
  padding-top: 13.5px;
  padding-bottom: 69.5px;
  justify-content: flex-end;
  background-image: url("../images/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: left top 20.5px;
}
 
/* ------catolog ------ */

.form-container {
  width: 1079px;
  margin-left: 200px;
  margin-right: 161px;
  margin-bottom: 35px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: url("../images/icons/arrow-right.svg");
  width: 4px;
  height: 7px;
  top: -1px;
  right: -18px;
}

.breadcrumbs-item:nth-child(3)::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.catalog-title,
.result-of-search,
.show-more-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.show-more-button {
  text-align: center;
  display: block;
  border: 0;
  padding: 18px 290px;
  background-color: transparent;
  border: 3px solid #E5E5E5;
  margin-bottom: 44px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.range-price,
.catalog-filter-title,
.catalog-description { 
  line-height: 20px;
  font-weight: 700;
}

.catalog-price {
  line-height: 21px;
  font-weight: 400;
  color: #444444;
}

.control-input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.choice-button {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  text-align: center;
  color: #000000;
  width: 220px;
  padding: 10px 5px;
  border: 0;
  background-color: transparent;
  z-index: 1;
}

.choice-button::after {
  position: absolute;
  content: " ";
  width: 220px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #FFE17F;
  z-index: -1;
}

.choice-button:hover::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFE17F;
}

.choice-button:active::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFCC33;
}

.choice-button:focus {
  outline: none;
}

.choice-button:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.pagination-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.2px;
}

.pagination-number {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #444444;
  opacity: 30%;
}

.catalog {
  display: flex;
  padding: 0 140px;
  background-color: #F0F0F0;
}

.catalog-filter {
  width: 320px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 25px;
  box-sizing: border-box;
}

.catalog-title {
  margin: 0;
  margin-bottom: 72px;
}

.catalog-filter-price,
.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.range-price {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
}

.range-price::before{
  position: absolute;
  content: " ";
  width: 200px;
  border-top: 2px solid #000000;
  top: -12px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #DCDCDC;
  margin-bottom: 15px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #EBEBEB;
  border: 2px solid rgba(0,0,0,0.5);
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.container-price {
  display: flex;
  width: 168px;
}

.field-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0.3;
  display: flex;
  align-items: flex-end;
  margin-left: -15px;
  margin-bottom: 47px;
}

.range-input {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  border:0;
  padding: 0;
  padding-left: 5px;
}

.range-first{
  width: 75px;
  margin-right: 20px;
}

.range-second {
  width: 75px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
}

.catalog-filter-title::before{
  position: absolute;
  content: " ";
  width: 200px;
  border-top: 2px solid #000000;
  top: -12px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}
  
.catalog-filter-item {
  margin-bottom: 17px;
}

.catalog-filter-item:last-child {
  margin-bottom: 47px;
}

.catalog-filter-final {
  margin-bottom: 20px;
}

.catalog-filter-final:last-child {
  margin-bottom: 35px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.control-mark-calm {
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: " ";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-image: url("../images/icons/black-tick.svg");
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: " ";
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.catalog-right-column {
  width: 840px;
}

.sorting-container {
 display: flex;
}

.result-of-search {
  margin: 0;
  padding: 25.5px 0 25.5px 40px;
  margin-right: 197px;
}

.select-wrapper {
  padding: 20px 0;
  margin-right: 197px;
}

.select-control {
  width: 159px;
  border: 0;
  background-color: #F0F0F0;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  appearance: none;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
}

.sorting-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../images/icons/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-down {
  transform: rotate(180deg);
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;  
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.catalog-container{
  padding: 70px 40px 78px;
  background-color: #FFFFFF;
}  

.catalog-description-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-image {
  margin-bottom: 32px;
}

.catalog-description {
  font-size: 18px;
  letter-spacing: -0.32px;
  width: 240px;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #EBEBEB;
}

.pagination-prev {
  margin: 0;
  padding: 0;
  padding: 20.5px 25px;
}

.pagination-next {
  margin: 0;
  padding: 0;
  padding: 20.5px 25px;
}

.pagination-main {
  display: flex; 
  margin: 0;
  padding: 0;
  padding: 15.5px 145.5px;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

/* ------footer ------ */

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.page-footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 62px 0 58px;
}

.company-address,
.company-phone {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}

.company-phone {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer-information-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-image:hover {
  opacity: 0.6;
}

.footer-image:active {
  opacity: 0.3;
}

.footer-logo:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.info-footer-wrapper {
  display: flex;
  width: 1160px;
  margin: 27px 0 47px;
}

.company-address {
  width: 239px;
  margin: 0;
  margin-right: 112px;
}

.footer-information-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 35px;
  padding: 0;
  margin: 0;
  margin-right: 190px;
}

.footer-information-link:focus {
  outline: none;
}

.footer-information-item:hover .footer-information-link {
  color: #FFC700;
}

.footer-information-item:active .footer-information-link {
  color: #FFC700;
  opacity: 0.3;
}

.footer-information-item:hover .footer-information-link{
  border-bottom: 2px solid #FFC700;
}

.footer-information-item:active .footer-information-link{
  border-bottom: 2px solid #FFC700;
  opacity: 0.3;
}

.footer-information-item {
  cursor: pointer;
}

.footer-information-item:focus-within {
  outline: 2px solid #AF4FFF;
}

.social-link-wrapper {
  position: relative;
  display: flex;
  width: 1160px;
}

.social-link-wrapper::before {
  position: absolute;
  content: " ";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  left: 0;
  bottom: 18px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  column-gap: 15px;
  padding: 0;
  margin: 0;
  margin-left: 505px;
  margin-right: 390px;
}

.social-item {
  height: 40px;
}

.html-link {
  background-color: #444444;
}

.phone-wrapper {
  cursor: pointer;
}

.phone-wrapper:hover .company-phone {
  color: #FFC700;
}

.phone-wrapper:active .company-phone {
  color: #FFC700;
  opacity: 0.3;
}

.company-phone:focus {
  outline: none;
}

.phone-wrapper:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.social-images {
  fill: #FFFFFF;
  opacity: 0.3;
}

.social-images path {
  fill: #444444;
}

.social-images:hover {
  fill: #FFC700;
  opacity: 1;
}

.social-images:active path {
  fill: #444444;
  opacity: 0.3;
}

.social-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.information-images {
  fill: #FFC700;
}

.information-images:hover {
  fill: #FFFFFF;
}

.information-images:active {
  fill: #FFFFFF;
  opacity: 0.3;
}

.html-link:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* ------modal ------ */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgb(0, 0, 0, 0.1);
  border: 10px solid #000000;
}

.modal-auth {
  width: 760px;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0 0 42px;
}

.modal-close-button {
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../images/icons/close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.field-title {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.32px;
  margin-bottom: 14px;
}

.field-for-name,
.field-for-mail,
.field-for-delivery,
.field-for-quantity {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.field-for-name,
.field-for-delivery {
  opacity: 0.3;
}

.field-for-quantity {
  text-align: center;
}

.description-field-name,
.description-field-mail {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.description-field-mail {
  color: #FF3D3D;
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.field-name,
.field-mail {
  width: 360px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-for-name {
  padding: 20px 200px 20px 20px;
  background-color: #F0F0F0;
  border: 0;
  background-image: url("../images/icons/icon-modal.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.field-for-mail {
  padding: 18px 100px 18px 20px;
  background-color: #F0F0F0;
  border: 2px solid #FF3D3D;
  background-image: url("../images/icons/envelope.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.delivery-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.field-delivery {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-quantity {
  width: 180px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-for-delivery {
  padding: 20px 200px 20px 20px;
  background-color: #F0F0F0;
  border: 0;
}

.field-for-quantity {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F0F0F0;
  border: 0;
}

.button-more-quantity {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 344px;
  right: 70px;
  border: 0;
  background-color: transparent;
}

.more-image {
  position: absolute;
  top: 22px;
  left: 22px;
}

.button-less-quantity {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 344px;
  right: 190px;
  border: 0;
  background-color: transparent;
}

.less-image {
  position: absolute;
  top: 22px;
  left: 22px;
}

.button-more-quantity:hover,
.button-less-quantity:hover {
  background-color: #EBEBEB;
}

.button-more-quantity:hover .more-image,
.button-less-quantity:hover .less-image {
  opacity: 0.6;
}

.button-more-quantity:active,
.button-less-quantity:active {
  background-color: #F0F0F0;
}

.button-more-quantity:active .more-image,
.button-less-quantity:active .less-image {
  opacity: 0.3;
}

.button-more-quantity:focus,
.button-less-quantity:focus {
  background-color: #F0F0F0;
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.field-for-quantity::-webkit-outer-spin-button,
.field-for-quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.tooltip {
  position: absolute;
  top: 307px;
  right: 104px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-toggle:focus {
  outline: none;
}

.tooltip-text {
  background-color: #000000;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  width: 164px;
  padding: 19px 17px 19px 19px;
  display: block;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  margin-top: 10px;
  transform: translateX(-154px);
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  content: url("../images/icons/delta.svg");
  position: absolute;
  top: -15px;
  right: 26px;
}

.tooltip-toggle:hover .tooltip-text {
  display: block;
}

.tooltip-toggle:focus .tooltip-text {
  display: block;
}

.modal-button {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  text-align: center;
  color: #000000;
  width: 200px;
  padding: 10px 4.55px;
  border: 0;
  background-color: transparent;
  z-index: 1;
}

.modal-button::after {
  position: absolute;
  content: " ";
  width: 200px;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #FFE17F;
  z-index: -1;
}

.modal-button:hover::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFE17F;
}

.modal-button:active::after {
  height: 40px;
  left: 0;
  top: 0;
  background-color: #FFCC33;
}

.modal-button:focus {
  outline: none;
}

.modal-button:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}
