@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
 
html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px; 
  line-height: 30px;
  color: #000000;
  background-color: #f2f2f2;    
}

.container {
  width: 1440px;
  background-color: #FFFFFF;
}

.main-header {
  width: 1160px;
  color: #000000;
}

.navigation-link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.information-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.search-field {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.button-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.description-promo,
.info-title,
.aboutus,
.contacts-title,
.subscribe-offer {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.description-property,
.info-description,
.text-decoration {
  font-weight: 400;
  color: #444444;
}

.property-more,
.servises-item,
.button-information {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFE17F;
}

.meaning {
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
}

.detail {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.goods-item-link {
  text-decoration: none;
}

.goods-description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.servises-current {
  color: #FFE17F;
  background-color: #000000;
}

.button-delivery {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-address-text,
.contacts-phone {
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  font-style: normal;
}

.contacts-subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #444444;
}

.delivery-item {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.button-information {
  text-decoration: none;
}

.field {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  opacity: 0.5;
}

.newsletter-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.footer-address-text,
.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}

.footer-contacts-phone {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer-information-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}